<div *ngIf="pokemon">
  <mat-list>
    <mat-list-item>
      <h2>#{{ pokemon.id }} | {{ pokemon.name | uppercase }}</h2>
    </mat-list-item>

    <mat-divider class="divide"></mat-divider>

    <mat-list-item>
      <label>Type(s) :
        <span>{{ pokemon.types | json }}</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Talent(s) :
        <span>{{ pokemon.abilities | json }}</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Attaque(s) :
        <span>{{ pokemon.moves | json }}</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Génération :
        <span>{{ pokemon.generation }}</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Taille :
        <span>{{ pokemon.height }}m</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Poid :
        <span>{{ pokemon.weight }}kg</span>
      </label>
    </mat-list-item>

    <mat-list-item>
      <label>Taux de capture :
        <span>{{ pokemon.catchRate }}</span>
      </label>
    </mat-list-item>
  </mat-list>
</div>
