<button class="item-list" mat-button [routerLink]="['/pokemon', pokemon.id]">
  <mat-card>
    <mat-card-header>
      <mat-card-title>#{{ pokemon.id }} {{ pokemon.name }}</mat-card-title>
    </mat-card-header>
  </mat-card>
</button>
