<div class="search-pokemon">
  <mat-form-field>
    <mat-label>Recherche...</mat-label>
    <input matInput type="text" name="search" [(ngModel)]="searchInput" autocomplete="off">
  </mat-form-field>
</div>

<span *ngFor="let pokemon of pokelist | filter:searchInput">
  <pkd-pokemon-profile [pokemon]="pokemon"></pkd-pokemon-profile>
</span>

